/*
.toolIcon {
    width: 30px; 
    height: 30px;
    background-color: blue;
    border: 2px solid #B26DF6; 
    margin-bottom: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
.icon {
    width: 20px;
    height: 20px; 
  }*/