/* components/Toolbar.module.css */
.toolbar {
    width: 175px; /* Adjust width as needed */
    height: 600px; /* Example fixed height */
    overflow-y: auto; /* Add vertical scroll bar if content overflows */
    background-color: #2e2e2e;
    padding: 10px;
    border-radius: 5px; /* Rounded corners */
    z-index: 1000; /* Ensure the toolbar is above other content */
  }
  