.toolbarContainer {
    background-color: #4A90E2; /* Blue background */
    background: linear-gradient(to bottom, #4A90E2 0%, #144986 100%);
    width: 512px; /* Match the width to your canvas */
    height: 110px; /* Double the height you want */
    margin: auto; /* Centers the toolbar */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px; /* Optional, for rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8); /* Optional, for shadow */
  }
  
  