.toolbarStack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align items to the start of the container */
  background-color: #4A90E2;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
  margin-bottom: 25px;
  margin-right: 8px;
  z-index: 100;
  overflow-y: auto; /* Enable scroll if content is larger than the container */
}

.menuButton { 
  display: none; /* Hide hamburger menu button by default */
  position: fixed; /* Fixed position relative to the viewport */
  top: 210px important; /* Adjust the position as needed */
  right: -400px; /* Distance from the right of the viewport */
  z-index: 110; /* Ensure it's above other content */
  transform: translateY(55px);
}

/* Adjustments for smaller screens, hide toolbarStack and show menuButton */
@media screen and (max-width: 768px) {
  .toolbarStack {
    display: none; /* Hide the toolbar on smaller screens */
  }
  .menuButton {
    display: block; /* Show the hamburger menu button on smaller screens */
    /* Additional styling for the hamburger button if necessary */
    position: fixed; /* Fixed or absolute depending on the requirement */
    top: 10px; /* Adjust the position as needed */
    left: 10px; /* Adjust the position as needed */
    z-index: 110; /* Ensure it's above other content */
  }
}

.button {
  background-color: #757de8;
  color: white;
  padding: 10px; /* Reduced padding to fit more buttons */
  margin: 5px; /* Reduced margin to fit more buttons */
  border: none;
  cursor: pointer;
  font-size: 0.9em; /* Reduced font size to fit more buttons */
  border-radius: 5px;
  transition: background-color 0.3s;
  min-height: 40px; /* Set a minimum height for the buttons */
  width: 80%; /* Set width relative to the toolbar width */
}

.button:hover {
  background-color: #5a6abf;
}

.selectedButton {
  background-color: #5a6abf;
}

.icon {
  margin-right: -8px;
  margin-left: 4px;
}
