
.toolbarStack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align items to the start of the container */
  background-color: #4A90E2;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
  margin-bottom: 25px;
  margin-right: 8px;
  z-index: 100;
  overflow-y: auto; /* Enable scroll if content is larger than the container */
}

.button {
  background-color: #757de8;
  color: white;
  padding: 10px; /* Reduced padding to fit more buttons */
  margin: 5px; /* Reduced margin to fit more buttons */
  border: none;
  cursor: pointer;
  font-size: 0.9em; /* Reduced font size to fit more buttons */
  border-radius: 5px;
  transition: background-color 0.3s;
  min-height: 40px; /* Set a minimum height for the buttons */
  width: 80%; /* Set width relative to the toolbar width */
}


.button:hover {
  background-color: #5a6abf;
}

.selectedButton {
  background-color: #5a6abf;
}

.icon {
  margin-right: -8px;
  margin-left: 4px;
}
