.layout {
    display: flex;
    min-height: 100vh;
    /* Make sure no extra margin or padding is applied here */
  }
  
  .toolbar {
    position: fixed; /* Fixed if it should stay put on scroll */
    top: 0;
    left: 0;
    height: 100%;
    width: 150px; /* Adjust width as needed */
    background-color: #2e2e2e;
    z-index: 1000;
    /* No extra margin or padding */
  }
  
  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-left: 0px; /* Same as the toolbar width */
    /* Check if the width calculation is needed, if there's a fixed margin on the left */
    align-items: center; /* Center content horizontally */
    /* No extra margin or padding */
    /* Check if you need width: calc(100% - 150px); if margin-left is already set */
  }
  