.layout {
  display: flex;
  min-height: 100vh; /* Fills at least the full height of the viewport */
  /* Make sure no extra margin or padding is applied here */
}
  
.toolbar {
  position: absolute; /* Stays put on scroll */
  top: 0; /* At the top of the viewport */
  left: 0; /* At the left of the viewport */
  background-color: transparent;  /*Toolbar background color */
  z-index: 1000; /* Above other content */
  max-height: 300px; /* Or whatever maximum height you want */
  overflow-y: auto; /* Enables scrolling if content exceeds max-height */
  /* Remove any padding or margin if it's not necessary */
  padding: 0; /* Adjust or remove padding as necessary */
  box-sizing: border-box; /* Include padding in the width and height if padding is used */
}
  

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    /* Ensure no extra margin or padding is pushing content around */
    padding: 0; /* Adjust or remove padding as necessary */
    background-color: #2e2e2e; /* Content background color */
  }
  
  .responsiveCanvasContainer {
    max-width: 100%;
    height: auto;
    /* You can add additional responsive styling here if needed */
  }
  
  #asathisisit {
    position: absolute;
    top: 500px; /* The y-coordinate where you want the div to appear */
    left: 0; /* Align to the left */
    width: 100%; /* Take the full width */
  }