/* Login.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f5f5f5;
    color: #333;
}

.header {
    margin-bottom: 20px;
}

.text {
    margin-bottom: 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.fulljourneyButton {
    background-color: #007BFF;
    color: white;
}

.googleButton {
    background-color: #4285F4;
    color: white;
    border: 1px solid #4285F4;
}

.googleButton:hover {
    background-color: #357ae8;
    border: 1px solid #357ae8;
}

.discordButton {
    background-color: #7289da;
    color: white;
}

.discordButton:hover {
    background-color: #677bc4;
}