.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    font-family: 'Arial', sans-serif; /* You can choose a font that suits your brand */
}

.header {
    margin-bottom: 1rem;
}

.header h1 {
    color: #333;
    font-size: 2.5rem; /* Adjusted the size for a bigger header */
}

.text {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: #222; /* Lighter text color */
    text-align: center;
}

.footer {
    margin-top: 1rem;
    display: flex;
    gap: 1rem; /* Adds space between buttons */
}

.button {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    opacity: 0.9; /* Slight opacity change on hover */
}

.purchaseButton {
    background-color: #28a745; /* Green background color */
}

.purchaseButton:hover {
    background-color: #218838; /* Darker green on hover */
}

.subscribeButton {
    background-color: #007bff; /* Blue background color */
}

.subscribeButton:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
