@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

input {
  @apply border;
  @apply border-solid;
  @apply border-gray-300;
  /* @apply rounded-md; */
  @apply px-10;
  @apply py-5;
  @apply rounded-xl;
}

.border-hairline {
  @apply border border-black border-opacity-10;
}

.lil-button {
  @apply inline-block;
  /* @apply border-hairline; */
  @apply text-sm;
  @apply text-gray-500;
  @apply rounded-xl;
  @apply py-2;
  @apply mx-3;
}

.icon {
  @apply inline relative mr-1;
  top: -0.1em;
  width: 1.1em;
  height: 1.1em;
}

.body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(11, 0, 59);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
}
